{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}
<div id="post" class="animated fadeIn dur-slow">
  <article class="{{post_class}} page-post page-post-full-view" itemscope itemtype="http://schema.org/BlogPosting">
  
  {{! Everything inside the #post tags pulls data from the post }}
  {{#post}}
    {{! Everything below outputs content of the the post which has been published }}
    <section itemprop="articleBody">  
      <div class="post-main">
        <!-- Post date for mobile & multi author style -->
        <span class="post-date"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time></span>        
      
        <!-- Post title -->
        <h2 class="post-title" itemprop="name">{{{title}}}</h2>        
          
        <!-- Post content -->
        <div class="post-content">{{content}}</div>
      </div>
      <div class="post-meta">        
        {{#if tags}}
        <!-- Post tags -->
        <span class="post-tags-inline">
          <span class="post-tags-label">Posted in:</span>
          {{#foreach tags}}
            <span class="post-tag">{{name}}{{#if @last}}{{else}}<span class="post-tag-spacer">,</span>{{/if}}</span>
          {{/foreach}}
        </span>
        {{/if}}
        
        <!-- Post share links -->
        {{> post_share}}
      </div>        
    </section>
  
  {{/post}}
  </article>
</div>

<div class="content-bottom">
  <div class="row">
    <div class="col-md-6 col-md-push-6 text-right"><a href="#top" title="Back to the top" class="btn btn-default btn-no-bg top-link"><span class="sr-only">Back to the top </span><i class="fa fa-angle-up fa-lg"></i></a></div>
    <div class="col-md-6 col-md-pull-6"><a href="{{@blog.url}}" title="Back to the top" class="btn btn-default btn-no-bg home-link"><i class="fa fa-angle-left fa-lg"></i> Start Page</a></div>
  </div>
</div>
