<!--Post author info block-->
<div class="post-author post-author-mini blog-author-multi">
  <i class="heart fa fa-heart"></i>
  {{#if author.website}}<a href="{{author.website}}" title="Go To Author Website">{{/if}}
  <!--
  <img src="{{author.image}}" alt="{{author.name}}s image" class="post-author-img" /> -->
  {{#if author.website}}</a>{{/if}}
  <h3 class="post-author-name">
  {{#if author.website}}
  <a href="{{author.website}}" title="Go To Author Website">{{author.name}}</a>
  {{else}}Georgi
  <!-- {{author.name}} --> 
  {{/if}}
  </h3>
  <p class="post-author-bio">{{author.bio}}</p> 
</div>